<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Uso de energía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-card class="equal-height">
          <ion-card-header>
            <ion-card-subtitle>Poder actual</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h1 [style.color]="data.err_code === 0 ? 'green' : 'red'">{{ data.power | number:'1.1-1' }} W</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-card class="equal-height">
          <ion-card-header>
            <ion-card-subtitle>Consumo total del día</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h1 style="color: green">{{ data.total_kwh | customNumber }} kWh</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <br>
  <br>
  <ion-button expand="full" (click)="refreshData()">Actualizar</ion-button>
</ion-content>
