<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consumo de Energía x Días
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="infoMessage" class="info-message">
    {{ infoMessage }}
  </div>
  <ion-grid>
    <ion-row *ngFor="let item of itemsTable">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Fecha: <br><br> {{item.Fecha | date:'fullDate' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Consumo</ion-label>
                <ion-text style="font-size: 20px;">{{item.Consumo}} <b>kWh</b></ion-text>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab style="margin-top: 50px;" vertical="start" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openDatePicker()">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Total Consumo: {{totalConsumo | customNumber}} <b>kWh</b></ion-title>
  </ion-toolbar>
</ion-footer>
